@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirk-VQ.ttf) format('truetype');
}
.font-common {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429em;
  color: #4B4B4B;
}
.font-title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.571em;
  color: #4B4B4B;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class] {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
a {
  text-decoration: none;
}
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.trip {
  margin-top: 26px;
}
.trip__trip {
  margin-bottom: 30px;
}
.trip__trip:last-child {
  margin-bottom: 30px;
}
.trip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(130, 130, 130, 0.3);
  border-radius: 20px;
}
.trip__preview {
  position: relative;
  min-height: 80px;
}
.trip__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.trip__status {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.571em;
  color: #4B4B4B;
  display: inline-block;
  position: absolute;
  top: 41px;
  left: 0;
  padding: 10px 24px;
  line-height: 1.429em;
  text-transform: uppercase;
  color: #3E3E3E;
  background: #FED74B;
}
.trip__status_position_top-left {
  border-radius: 15px 0 12px 0;
  top: 0;
}
.trip__status_bg_blue {
  background: #7553FF;
  color: #FFFFFF;
}
.trip__status_bg_light-blue {
  background: #099CE8;
  color: #FFFFFF;
}
.trip__content {
  padding: 16px 12px 18px;
}
.trip__duration-icon {
  display: inline-block;
  vertical-align: middle;
}
.trip__duration-text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429em;
  color: #4B4B4B;
  vertical-align: middle;
  margin-left: 9px;
  color: #9E9E9E;
}
.trip__title {
  margin-top: 15px;
}
.trip__info {
  margin-top: 30px;
}
.trip__price-content {
  margin-top: 35px;
}
@media screen and (min-width: 800px) {
  .trip {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .trip__preview {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 44%;
  }
  .trip__image {
    border-radius: 20px 0 0 20px;
  }
  .trip__conent {
    max-width: 66%;
  }
}
.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 15px;
}
.info__item:last-child {
  margin-bottom: 0;
}
.info__icon {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  padding-top: 3px;
}
.info__text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429em;
  color: #4B4B4B;
}
.info__helper {
  display: inline-block;
}
.schedule {
  display: inline-block;
}
.schedule__item {
  display: inline-block;
  padding-top: 11px;
  margin-right: 10px;
}
.schedule__item:last-child {
  margin-right: 0;
}
.schedule__item_hidden {
  display: none;
}
.schedule__button {
  display: inline-block;
  border: none;
  border-radius: 11px;
  padding: 3px 13px;
  background: #D9E8FF;
  -webkit-transition: background-color ease 0.1s;
  -o-transition: background-color ease 0.1s;
  transition: background-color ease 0.1s;
}
.schedule__button:hover {
  cursor: pointer;
  background: #6BA6FF;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.price-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 8px;
}
.price-content__price {
  display: inline-block;
  max-width: 110px;
}
.price-content__price-main {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429em;
  color: #4B4B4B;
  display: block;
  font-size: 30px;
  line-height: 0.667em;
  color: #000000;
}
.price-content__price-icon {
  display: inline-block;
}
.price-content__price-additional {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429em;
  color: #4B4B4B;
  display: inline-block;
  margin-top: 11px;
  font-size: 10px;
  line-height: 1em;
  color: #000000;
}
.price-content__button {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429em;
  color: #4B4B4B;
  display: inline-block;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  padding: 12px 41px;
  background: #FED74B;
  color: #404040;
  border: 0.5px solid #CBA500;
  border-radius: 20px;
}
.price-content__button:hover {
  cursor: pointer;
  background: #e2bf40;
}
@media screen and (max-width: 340px) {
  .price-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .price-content__button {
    margin-top: 18px;
  }
}
